<div class="container" role="main">
    <div class="card-heading text-center">
        <h1>Editar usuario</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="usuarioForm" class="form">
            <div class="card-body text-center">
                <div class="row col-3">
                    <label for="name" class="labels">Nome</label>
                    <input class="form-control" type="tel" formControlName="name" id="name" required>
                </div>
                <div class="row col-3">
                    <label for="phone_number" class="labels">telefone</label>
                    <input class="form-control" type="text" formControlName="phone_number" id="phone_number">
                </div>
                <div class="row col-3">
                    <label for="password" class="labels">Senha atual</label>
                    <input class="form-control" type="password" formControlName="password" id="password">
                </div>
                <div class="row col-6" style="margin-top: 5px;">
                    <button class="col-3 btn btn-primary" type="button" (click)="submit()">Editar</button>
                    <button class="col-3 btn btn-primary" type="button" (click)="voltar()">Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
.container {
    min-width: 800px;
  }
</style>